<h3>your courses</h3>

<ul *ngIf="teacherCourses.length > 0; else noAllCourses">
  <li *ngFor="let course of teacherCourses">
    <button (click)="getStudentsForCourse(course)">
      {{ course.courseName }}
    </button>
    - {{ course.time }} - {{ course.currentEnrollment }}/{{ course.capacity }}
  </li>
</ul>

<ng-template #noAllCourses>
  <p>classesnotfound</p>
</ng-template>

<ul *ngIf="StudentsData.length > 0; else noStudentData">
  <li *ngFor="let CourseStudentsData of StudentsData">
    <strong>{{ CourseStudentsData.studentName }}</strong> -
    {{ CourseStudentsData.grade }}
  </li>
</ul>

<ng-template #noStudentData>
  <p>select a course</p>
</ng-template>

<button (click)="logout()">Logout</button>
