<!-- template (html view) -->
<!-- whats rendered in the DOM  -->
<h2>Login</h2>
<form (ngSubmit)="onSubmit()">
  <label>
    username:
    <input
      type="text"
      [(ngModel)]="username"
      (input)="errorMsg = ''"
      name="username"
      required
    />
  </label>
  <label>
    password:
    <input
      type="password"
      [(ngModel)]="password"
      (input)="errorMsg = ''"
      name="password"
      required
    />
  </label>
  <div *ngIf="isLoading">Logging in...</div>
  <div *ngIf="errorMsg" class="error">{{ errorMsg }}</div>
  <button type="submit" [disabled]="isLoading">login</button>
</form>
