<nav>
  <div>
    <span>Admin Dashboard</span>
    <button (click)="logout()">Logout</button>
  </div>
</nav>

<div>
  <h2>Student Management</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allStudents">
        <td>{{ user.name }}</td>
        <td>{{ user.id }}</td>
        <!-- <td>
          <select
            #roleSelect
            (change)="updateUserRole(user.id, roleSelect.value)"
          >
            <option value="STUDENT" selected>Student</option>
            <option value="TEACHER">Teacher</option>
            <option value="ADMIN">Admin</option>
          </select>
        </td> -->
        <td>
          <button (click)="deleteStudent(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Create Student</h3>
  <input #usernameInput placeholder="Username" />
  <input #passwordInput placeholder="Password" type="password" />
  <input #nameInput placeholder="Full Name" />
  <button
    (click)="
      createStudent(usernameInput.value, passwordInput.value, nameInput.value)
    "
  >
    Create Student
  </button>

  <h2>Teacher Management</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allTeachers">
        <td>{{ user.name }}</td>
        <td>{{ user.id }}</td>
        <!-- <td>
          <select
            #roleSelect
            (change)="updateUserRole(user.id, roleSelect.value)"
          >
            <option value="STUDENT">Student</option>
            <option value="TEACHER" selected>Teacher</option>
            <option value="ADMIN">Admin</option>
          </select>
        </td> -->
        <td>
          <button (click)="deleteTeacher(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Create Teacher</h3>
  <input #teacherUsername placeholder="Username" />
  <input #teacherPassword placeholder="Password" type="password" />
  <input #teacherName placeholder="Full Name" />
  <button
    (click)="
      createTeacher(
        teacherUsername.value,
        teacherPassword.value,
        teacherName.value
      )
    "
  >
    Create Teacher
  </button>

  <h2>Course Management</h2>
  <table>
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Teacher</th>
        <th>Time</th>
        <th>Enrollment</th>
        <th>Capacity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of allCourses">
        <td>{{ course.name }}</td>
        <td>{{ course.teacherName }}</td>
        <td>{{ course.time }}</td>
        <td>{{ course.currentCapacity }}</td>
        <td>{{ course.totalCapacity }}</td>
        <td>
          <!-- <button>Edit</button> -->
          <button (click)="deleteCourse(course.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Create Course</h3>
  <input #courseName placeholder="Course Name" />
  <input #courseTime placeholder="Course Time" />
  <input #courseCapacity type="number" placeholder="Total Capacity" />
  <input #teacherId type="number" placeholder="Teacher ID" />

  <button
    (click)="
      createCourse(
        courseName.value,
        courseTime.value,
        courseCapacity.valueAsNumber,
        teacherId.valueAsNumber
      )
    "
  >
    Create Course
  </button>

  <div>
    <!-- <button>Add New Course</button> -->
  </div>
</div>

<!-- <h3>All Enrollments</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let enrollment of enrollments">
      <td>{{ enrollment.id }}</td>
      <td>{{ enrollment.grade }}</td>
    </tr>
  </tbody>
</table> -->
